<?xml version="1.0" encoding="us-ascii"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" url="http://file.unityscene.com/util/bundle/config.xml">
	<BundleRoot>
	  <Bundle id="fage" dynamic="false" ios="http://file.unityscene.com/util/bundle/ios/fage.unity3d" android="http://file.unityscene.com/util/bundle/android/fage.unity3d" version="1" />	
	  <Bundle id="bundle1" dynamic="false" ios="http://file.unityscene.com/util/bundle/ios/bundle1.unity3d" android="http://file.unityscene.com/util/bundle/android/bundle1.unity3d" version="1" />
	  <Bundle id="bundle2" dynamic="true" ios="http://file.unityscene.com/util/bundle/ios/bundle2.unity3d" android="http://file.unityscene.com/util/bundle/android/bundle2.unity3d" version="1" />
	  <Bundle id="bundle3" dynamic="true" ios="http://file.unityscene.com/util/bundle/ios/bundle3.unity3d" android="http://file.unityscene.com/util/bundle/android/bundle3.unity3d" version="1" />
	  <Bundle id="bundle4" dynamic="true" ios="http://file.unityscene.com/util/bundle/ios/bundle4.unity3d" android="http://file.unityscene.com/util/bundle/android/bundle4.unity3d" version="1" />
	  <Bundle id="bundle5" dynamic="true" ios="http://file.unityscene.com/util/bundle/ios/bundle5.unity3d" android="http://file.unityscene.com/util/bundle/android/bundle5.unity3d" version="1" />
	</BundleRoot>
	<UIRoot>
	  <UITransition id="trans.popin" posX="0" posY="0" posZ="0" rotX="0" rotY="0" rotZ="0" scaleX="0" scaleY="0" scaleZ="0" time="0.5" delay="0" easetype="easeOutElastic" />
	  <UITransition id="trans.popout" posX="0" posY="0" posZ="0" rotX="0" rotY="0" rotZ="0" scaleX="0" scaleY="0" scaleZ="0" time="0.5" delay="0" easetype="easeInBack" />
	  <UIDetail id="bootstrap" asset="FAGE/BootStrap" bundle="" posX="0" posY="0" posZ="0" rotX="0" rotY="0" rotZ="0" scaleX="1" scaleY="1" scaleZ="1" onInstantiate="trans.popin" onDestroy="trans.popout" onResume="trans.popin" onPause="trans.popout" onSwitchIn="trans.popin" onSwitchOut="trans.popout" />
	  <UISet id="testui" onPortrait="portrait" onLandscape="landscape" />
	  <UISet id="testpop" onPortrait="popupP" onLandscape="popupL" />
	  <UISet id="test1" onPortrait="detail1" onLandscape="detail1" />
	  <UISet id="test2" onPortrait="detail2" onLandscape="detail2" />
	  <UISet id="test3" onPortrait="detail3" onLandscape="detail3" />
	  <UICurtain id="blackout" asset="assets/fage/prefab/blackout.prefab" bundle="fage" />
	  <UICurtain id="whiteout" asset="assets/fage/prefab/whiteout.prefab" bundle="fage" />
	</UIRoot>
	<AudioRoot id="root" volume="1">
	  <AudioXML id="background" volume="1" channels="1" />
	  <AudioXML id="effect" volume="1" channels="0">
	  	<AudioXML id="coin" volume="1" channels="1"/>
	  	<AudioXML id="voice" volume="1" channels="1"/>
	  	<AudioXML id="fx" volume="1" channels="1"/>
	  	<AudioXML id="score" volume="1" channels="1"/>
	  </AudioXML>
	</AudioRoot>
</Config>